@import '../../styles/variables.css';
@import '../../styles/mixins/typography.css';

.hint {
	position: fixed;
	bottom: 1rem;
	left: 50%;
	z-index: var(--zindex-scroll-hint);
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--color-white-smoke);
	transform: translate(-50%, 0);
	opacity: 0;
	transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	pointer-events: none;
	will-change: transform, opacity;

	&.visible {
		opacity: 1;
		pointer-events: all;
	}

	&:hover {
		transform: translate(-50%, -1rem);
	}

}

.text {
	@mixin typography-small-copy rem;

	transform: translateY(1rem);
	opacity: 0;
	transition: opacity 0.4s ease-in-out 3.5s, transform 0.4s ease-in-out 3.5s;
	will-change: transform, opacity;

	&.visible {
		transform: none;
		opacity: 1;
	}
}

.arrow {
	transform: translateY(1rem);
	opacity: 0;
	transition: opacity 0.3s ease-in-out 3.9s, transform 0.3s ease-in-out 3.9s;
	will-change: transform, opacity;

	&.visible {
		transform: none;
		opacity: 1;
	}
}
