@import '../../styles/variables.css';

.header {
	position: fixed;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	max-width: 192rem;
	height: var(--layout-header-height);
	padding-right: 5rem;
	padding-left: 5rem;
	color: var(--color-white-smoke);
}

.anchorIcon {
	display: block;
	margin-left: 3rem;
	color: inherit;
	text-decoration: none;
	transform: translateY(2rem);
	opacity: 0;
	transition: opacity 1s ease-in-out, transform 1s ease-in-out;

	&.entered {
		transform: translateY(0);
		opacity: 1;

		& svg {
			opacity: 0.6;
			transition: opacity 0.3s ease-in-out;

			&:hover {
				opacity: 0.9;
			}
		}
	}
}
