:root {
	--color-smoky-black: #08090a;
	--color-white-smoke: #f7f7f2;
	--color-pastel-gray: #c8ccc6;
	--color-maya-blue: #69ddff;
	--color-grain-yellow: #f5cb5c;

	--layout-header-height: 8rem;
	--layout-horizontal-padding: 5rem;
}
