:root {
	--color-smoky-black: #08090a;
	--color-white-smoke: #f7f7f2;
	--color-pastel-gray: #c8ccc6;
	--color-maya-blue: #69ddff;
	--color-grain-yellow: #f5cb5c;
	--color-atomic-tangerine: #FF9C57;
	--color-turquoise: #4DE3C2/*#BEE3DB*/;

	--layout-header-height: 8rem;
	--layout-horizontal-padding: 5rem;

	--zindex-header: 1000;
	--zindex-scroll-hint: 1000;
	--zindex-canvas: 999;
	--zindex-hero: 100;
	--zindex-bio: 99;
}
