@import '../../styles/variables.css';

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	max-width: 192rem;
	height: 100vh;
	margin: 0 auto;
	padding-right: var(--layout-horizontal-padding);
	padding-left: var(--layout-horizontal-padding);
}

.title {
	display: flex;
	flex-direction: column;
	color: var(--color-pastel-gray);
	line-height: 1.7;
}

.greeting {
	align-self: center;
	transform: translateX(-10rem);
	opacity: 0;
	transition: transform 1s ease-in-out 1s, opacity 1s ease-in-out 1s;

	&.entered {
		transform: translateY(0);
		opacity: 1;
	}
}

.job {
	align-self: center;
	transform: translateX(10rem);
	opacity: 0;
	transition: transform 1s ease-in-out 1.3s, opacity 1s ease-in-out 1.3s;

	&.entered {
		transform: translateY(0);
		opacity: 1;
	}
}

.name {
	color: var(--color-white-smoke);
	opacity: 0;
}
