@import '../../styles/variables.css';

.wrapper {
	position: sticky;
	top: 0;
	z-index: var(--zindex-bio);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
	max-width: 192rem;
	height: 100vh;
	margin: 0 auto;
	padding: 0 var(--layout-horizontal-padding);
	color: var(--color-white-smoke);
}

.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0 5rem;
	opacity: 0;
	transition: transform 0.1s linear;
}

.bio {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 50%;
	margin-bottom: 5rem;
	font-size: 2.4rem;
}
