@import '../../../../styles/variables.css';

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: flex-end;
	width: 50%;
	width: 31rem;
}

.socials {
	display: flex;
	flex-direction: column;
	align-self: flex-start;
}

.others {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	align-self: flex-end;
}

.titles {
	margin: 2rem 0;
	font-weight: lighter;
	text-align: center;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;

	&.visible {
		opacity: 0.4;
	}
}

.reach {
	display: inline-block;
	transform: translate(-2rem, 2rem);
	opacity: 0;
	transition: opacity 0.5s ease-in-out 0.3s, transform 0.5s ease-in-out 0.3s;

	&.visible {
		transform: none;
		opacity: 1;
	}
}

.more {
	display: inline-block;
	transform: translate(2rem, -2rem);
	opacity: 0;
	transition: opacity 0.5s ease-in-out 0.3s, transform 0.5s ease-in-out 0.3s;

	&.visible {
		transform: none;
		opacity: 1;
	}
}

.link {
	display: block;
	color: var(--color-white-smoke);
	font-size: 2.8rem;
	text-decoration: none;
}

.socials .link {
	transform: translateX(-2rem);

	&:hover {
		color: var(--color-apricot);
	}
}

.others .link {
	transform: translateX(2rem);

	&:hover {
		color: var(--color-powder-blue);
	}
}

.socials .link,
.others .link {
	opacity: 0;
	transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, color 0.2s ease-in-out;
}

.socials .link.visible,
.others .link.visible {
	transform: none;
	opacity: 1;
}

.innerSocialLink,
.innerOtherLink {
	display: inline-block;
	transform: none;
	transition: transform 0.2s ease-in-out;
}

.innerOtherLink:hover {
	transform: translateX(-1rem);
}

.innerSocialLink:hover {
	transform: translateX(1rem);
}
